<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>分发详情</title>
        <link type="text/css" rel="stylesheet" media="all" href="../styles/global.css" />
        <link type="text/css" rel="stylesheet" media="all" href="../styles/global_color.css" /> 
        <script language="javascript" type="text/javascript">
            //写入下拉框中的年份和月份
            function initialYearAndMonth() {
                //写入最近3年
                var yearObj = document.getElementById("selYears");
                var year = (new Date()).getFullYear();
                for (var i = 0; i <= 2; i++) {
                    var opObj = new Option(year - i, year - i);
                    yearObj.options[i] = opObj;
                }
                //写入 12 月
                var monthObj = document.getElementById("selMonths");
                var opObj = new Option("全部", "全部");
                monthObj.options[0] = opObj;
                for (var i = 1; i <= 12; i++) {
                    var opObj = new Option(i, i);
                    monthObj.options[i] = opObj;
                }
            }
        </script>
    </head>
    <body onload="initialYearAndMonth();">
        <!--Logo区域开始-->
        <div id="header">
            <a href="#">[退出]</a>            
        </div>
        <!--Logo区域结束-->
        <!--导航区域开始-->
        <div id="navi">                        
            <ul id="menu">
                <li><a href="../index.html" class="index_off"></a></li>
                <li><a href="../role/role_list.html" class="role_off"></a></li>
                <li><a href="../admin/admin_list.html" class="admin_off"></a></li>
                <li><a href="../fee/fee_list.html" class="fee_off"></a></li>
                <li><a href="../account/account_list.html" class="account_off"></a></li>
                <li><a href="../service/service_list.html" class="service_off"></a></li>
                <li><a href="/billController/pmlQuery" class="bill_on"></a></li>
                <li><a href="../report/report_list.html" class="report_off"></a></li>
                <li><a href="../user/user_info.html" class="information_off"></a></li>
                <li><a href="../user/user_modi_pwd.html" class="password_off"></a></li>
            </ul>            
        </div>
        <!--导航区域结束-->
        <!--主要区域开始-->
        <div id="main">
            <form action="/billController/pmlQuery" method="post">
                <!--查询-->
                <!-- <div class="search_add">                        
                    <div>订单编号：<input type="text" th:value="*{orderno}" name="orderno"  placeholder="请输入您的订单编号"/></div>                            
                    <div><input type="submit" value="搜索" class="btn_search" /></div>
                </div>   -->
                <!--数据区域：用表格展示数据-->     
                <div id="data">            
                    <table id="datalist">
                    <tr>
                        <th class="width80">单据ID</th>
                        <th class="width80">取件人姓名</th>
                        <th class="width80">分发时间</th>
                        <th class="width80">取件完成时间</th>
                        <th class="width80">取件类型</th>
                        <th class="width80">取件状态</th>
                        <th class="width115" colspan="2">操作</th> 
                    </tr>
                  
                  
                    <tr th:each="user:${pmlSelectAll}">
                        <td th:text="${user.orderno}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.maddressm}"></td>
                        <td th:text="${user.raddressr}"></td>
                        <td th:text="${user.typeName}"></td>
                        <td th:text="${#dates.format(user.dtime,'yyyy-MM-dd')}"></td>
                        <td class="td-status" th:if="${user.payType} eq 1">
	                       <span class="label label-success radius">现付</span>
                        </td>
                         <td class="td-status" th:if="${user.payType} eq 2">
	                       <span class="label label-success radius">到付</span>
                        </td>
                         <td class="td-status" th:if="${user.payType} eq 3">
	                       <span class="label label-success radius">月结</span>
                        </td>
                        <td th:text="${user.status}"></td>   
                        <td><a th:href="@{/billController/pmlSelectOid?(oid=${user.oid})}" title="分发明细">添加</a></td>
                        <td><a th:href="@{/billController/pmlSelectStatus?(oid=${user.oid})}" title="货物状态">修改</a></td>
                    </tr>
                </table>
              
                </div>                    
                <!--分页-->
                <!-- <div id="pages">
                    <a href="#">首页</a>
        	        <a href="#">上一页</a>
                    <a href="#" class="current_page">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">下一页</a>
                    <a href="#">末页</a>
                </div>     -->                
            </form>
        </div>
        <!--主要区域结束-->
        <div id="footer">
            <p>[源自岳阳 ，相信即刻 ，就是相信自己]</p>
            <p>版权所有(C)即刻快递 </p>
        </div>
    </body>
</html>
