<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>选择地址</title>
<meta
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
	name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="/proscenium/css/address.css" rel="stylesheet"
	type="text/css" />
<link href="/proscenium/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<section class="aui-flexView">
		<header class="aui-navBar aui-navBar-fixed b-line">
			<div class="aui-center">
				<span class="aui-center-title">选择地址</span>
			</div>
		</header>
		<section class="aui-scrollView">
			<div class="aui-flex b-line" th:each="address,iterStat:${listA}">
				<div class="aui-flex-box" style="font-size: 20px;"
					th:onclick="'javascript:zmGetAddressByAid('+${address.aid}+')'">
					<span th:text="${address.aname}"> </span> &nbsp;&nbsp;&nbsp;<span
						th:text="${address.tel}" th:class="tel+${iterStat.index}"></span>
					<p th:text="${address.region}" style="font-size: 16px;"></p>
					<p th:text="${address.address}" style="font-size: 16px;"></p>
				</div>
			</div>
		</section>
	</section>
	<script type="text/javascript" src="/proscenium/js/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$.post("/Personal/zmGetCount", null, function(data) {
				for (var i = 0; i < data; i++) {
					var tel = $(".tel" + i).text();
					var mtel = tel.substr(0, 3) + '****' + tel.substr(7, 4);
					$(".tel" + i).text(mtel);
				}
			})
		});
		function zmGetAddressByAid(aid) {
			location = '/Item/zmGetAddressByAid?aid=' + aid;
		}
	</script>
</body>
</html>
