<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>订单详情</title>
<meta
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
	name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="/proscenium/css/orderDetails.css" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<header class="aui-navBar aui-navBar-fixed b-line">
		<a href="javascript:;" class="aui-navBar-item"
			onclick="history.back();"> <i class="icon icon-return"></i>
		</a>
		<div class="aui-center">
			<span class="aui-center-title">订单详情</span>
		</div>
		<a href="javascript:;" class="aui-navBar-item"> <i
			class="icon icon-more"></i>
		</a>
	</header>
	<section class="aui-scrollView">
		<p
			style="color: white; background-color: pink; padding-left: 20px; height: 30px; line-height: 30px;">
			订单号：<em th:text="${order.orderno}"></em>
		</p>
		<div class="aui-order-box">
			<p class="aui-order-fl aui-order-address">
				<span th:text="${order.address1.aname+' '+order.address1.tel}"></span>
				<br /> <span
					th:text="${order.address1.region+' '+order.address1.address}"></span>
			</p>
			<p class="aui-order-fl aui-order-door">
				<span th:text="${order.address2.aname+' '+order.address2.tel}"></span>
				<br /> <span
					th:text="${order.address2.region+' '+order.address2.address}"></span>
			</p>
		</div>
		<div class="divHeight">
			<span style="color: #333">详情信息</span>
		</div>
		<div class="aui-flex aui-flex-text-sml b-line">
			<div class="aui-flex-box">
				<p>
					<em>托 寄 物 :</em> <span th:text="${order.typeName}"></span>&nbsp;&nbsp;&nbsp;<span
						th:text="${order.weight}"></span>kg
				</p>
				<p>
					<em>保价费用:</em> <span th:text="${order.rprice}"></span>
				</p>
				<p>
					<em>预估费用:</em> <span th:text="${order.total}"></span>
				</p>
				<p>
					<em>付款方式:</em> <span
						th:text="${order.payType==1?'寄付现结':(order.payType==2?'到付':'月结')}"></span>
				</p>
				<p>
					<em>下单时间:</em> <span
						th:text="${#dates.format(order.orderTime,'yyyy-MM-dd hh:mm:ss')}"></span>
				</p>
			</div>
		</div>
	</section>
</body>
</html>
