<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>查看物流</title>
<meta
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
	name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link href="/proscenium/css/track.css" rel="stylesheet" type="text/css" />
<link href="/proscenium/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<section class="aui-flexView">
		<header class="aui-navBar aui-navBar-fixed b-line">
			<a href="javascript:;" class="aui-navBar-item"
				onclick="location='/Personal/zmGetOrder'"> <i class="icon icon-return"></i>
			</a>
			<div class="aui-center">
				<span class="aui-center-title">快件详情</span>
			</div>
			<a href="javascript:;" class="aui-navBar-item"> <i
				class="icon icon-more"></i>
			</a>
		</header>
		<section>
			<div>
				<p
					style="color: white; background-color: pink; padding-left: 20px; height: 30px; line-height: 30px;">
					订单号：<em th:text="${order.orderno}"></em>
				</p>
				<p
					style="text-align: center; font-size: 16px; height: 50px; line-height: 50px;"
					th:onclick="'javascript:zmGetOrderByOid('+${order.oid}+')'">
					<span
						th:text="${order.address1.region.substring(order.address1.region.indexOf(' '),order.address1.region.lastIndexOf(' '))+' '+order.address1.aname}"></span>——><span
						th:text="${order.address1.region.substring(order.address2.region.indexOf(' '),order.address2.region.lastIndexOf(' '))+' '+order.address2.aname}"></span>
					<br />
				</p>
				<p style="padding-left: 20px;">
					<span class="glyphicon glyphicon-pencil"></span> 备注：<input
						type="text" maxlength="10" placeholder="添加备注，限10个字"
						style="border: 0px;" th:value="${order.remarks}" name="remarks"
						th:onblur="'javascript:zmOrderRemarks('+${order.oid}+')'" />
				</p>
			</div>
			<div class="divHeight">
				<span style="color: #333">物流详情</span>
			</div>
			<div class="aui-timeLine b-line">
				<ul class="aui-timeLine-content">
					<li class="aui-timeLine-content-item" th:each="track:${listT}"><em
						class="aui-timeLine-content-icon"></em>
						<p th:text="${track.info}"></p>
						<p style="margin-top: 10px; font-size: 8px;"
							th:text="${#dates.format(track.time,'yyyy-MM-dd hh:mm:ss')}"></p></li>
				</ul>
			</div>
		</section>
		<footer class="aui-footer aui-footer-fixed">
			<div class="aui-artificial">
				<i class="icon icon-air"></i> 人工客服
			</div>
		</footer>
	</section>
	<script type="text/javascript" src="/proscenium/js/jquery.min.js"></script>
	<script type="text/javascript">
		function zmOrderRemarks(oid) {
			var remarks = $("input[name=remarks]").val();
			$.post("/Personal/zmOrderRemarks?oid=" + oid + "&remarks="
					+ remarks, null, function(data) {

			})
		}
		function zmGetOrderByOid(oid) {
			location = "/Personal/zmGetOrderByOid?oid=" + oid;
		}
	</script>
</body>
</html>
