<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>Demo</title>
<link href="/proscenium/css/address.css" rel="stylesheet"
	type="text/css" />
<link href="/proscenium/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<section class="aui-flexView">
		<header class="aui-navBar aui-navBar-fixed b-line">
			<a class="aui-navBar-item" onclick="location='/Personal/zmPersonal'">
				<i class="icon icon-return"></i>
			</a>
			<div class="aui-center">
				<span class="aui-center-title">地址薄</span>
			</div>
			<a href="javascript:;" class="aui-navBar-item"> <i
				class="icon icon-sys"></i>
			</a>
		</header>
		<section class="aui-scrollView">
			<div class="divHeight b-line"></div>
			<div class="aui-address-box b-line">
				<div class="aui-address-add b-line"
					onclick="location='/Jump/zmJumpAdd'">+添加</div>
				<div class="aui-flex b-line" th:each="address,iterStat:${listA}">
					<div class="aui-flex-box">
						<span th:text="${address.aname}"> </span> &nbsp;&nbsp;&nbsp;<span
							th:text="${address.tel}" th:class="tel+${iterStat.index}"></span>
						<p th:text="${address.region}"></p>
						<p th:text="${address.address}"></p>
						<p>
							<input type="radio" name="isdefault"
								th:onclick="'javascript:zmUpdIsdefault('+${address.aid}+')'"
								th:checked="${address.isdefault==0?'true':'false'}">默认地址
						</p>
					</div>
					<div class="glyphicon glyphicon-edit"
						th:onclick="'javascript:zmSelAddressByAid('+${address.aid}+')'"></div>
					<div class="glyphicon glyphicon-trash"
						th:onclick="'javascript:zmDelAddress('+${address.aid}+')'"></div>
				</div>
			</div>
		</section>
	</section>
</body>
</html>
