<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.expressage.mapper.AddressMapper">
	<resultMap id="BaseResultMap"
		type="com.expressage.pojo.Address">
		<id column="aid" property="aid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="INTEGER" />
		<result column="aname" property="aname" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="CHAR" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="isDefault" property="isdefault"
			jdbcType="INTEGER" />
	</resultMap>

	<!-- zm -->
	<select id="zm_selAddress" resultMap="BaseResultMap">
		select * from address where
		uid = #{uid} order by isdefault
	</select>
	<select id="zm_selAddressByAid" resultMap="BaseResultMap">
		select * from address
		where
		aid = #{aid}
	</select>
	<insert id="zm_addAddress" parameterType="address"
		useGeneratedKeys="true" keyProperty="aid">
		insert into address
		(aid, uid,
		aname,
		tel, region, address,
		isDefault)
		values (#{aid}, #{uid},
		#{aname},
		#{tel},
		#{region},
		#{address},
		#{isdefault})
	</insert>
	<update id="zm_updIsdefault1">
		update address set isDefault = 1 where uid = #{uid}
		and aid != #{aid}
	</update>
	<update id="zm_updIsdefault0">
		update address set isDefault = 0 where aid = #{aid}
	</update>
	<update id="zm_updAddress"
		parameterType="com.expressage.pojo.Address">
		update address
		<set>
			<if test="aname != null">
				aname = #{aname},
			</if>
			<if test="tel != null">
				tel = #{tel},
			</if>
			<if test="region != null">
				region = #{region},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="isdefault != null">
				isDefault = #{isdefault},
			</if>
		</set>
		where aid = #{aid}
	</update>
	<delete id="zm_delAddress">
		delete from address where aid = #{aid}
	</delete>
	<select id="zm_getCount" parameterType="int" resultType="int">
		select
		count(1) from address where
		uid = #{uid}
	</select>
</mapper>