<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.expressage.mapper.CarDispatchMapper" >
  <resultMap id="BaseResultMap" type="com.expressage.pojo.CarDispatch" >
    <id column="car_dispatch_id" property="carDispatchId" jdbcType="INTEGER" />
    <result column="did" property="did" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="dtime" property="dtime" jdbcType="TIMESTAMP" />
    <result column="etime" property="etime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    car_dispatch_id, did, cid, eid, dtime, etime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_dispatch
    where car_dispatch_id = #{carDispatchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_dispatch
    where car_dispatch_id = #{carDispatchId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.expressage.pojo.CarDispatch" >
    insert into car_dispatch (car_dispatch_id, did, cid, 
      eid, dtime, etime
      )
    values (#{carDispatchId,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{eid,jdbcType=INTEGER}, #{dtime,jdbcType=TIMESTAMP}, #{etime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.expressage.pojo.CarDispatch" >
    insert into car_dispatch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carDispatchId != null" >
        car_dispatch_id,
      </if>
      <if test="did != null" >
        did,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="dtime != null" >
        dtime,
      </if>
      <if test="etime != null" >
        etime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carDispatchId != null" >
        #{carDispatchId,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="dtime != null" >
        #{dtime,jdbcType=TIMESTAMP},
      </if>
      <if test="etime != null" >
        #{etime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.expressage.pojo.CarDispatch" >
    update car_dispatch
    <set >
      <if test="did != null" >
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="dtime != null" >
        dtime = #{dtime,jdbcType=TIMESTAMP},
      </if>
      <if test="etime != null" >
        etime = #{etime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where car_dispatch_id = #{carDispatchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.expressage.pojo.CarDispatch" >
    update car_dispatch
    set did = #{did,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      eid = #{eid,jdbcType=INTEGER},
      dtime = #{dtime,jdbcType=TIMESTAMP},
      etime = #{etime,jdbcType=TIMESTAMP}
    where car_dispatch_id = #{carDispatchId,jdbcType=INTEGER}
  </update>
</mapper>