<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.expressage.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.expressage.pojo.User">
		<id column="uid" property="uid" jdbcType="INTEGER" />
		<result column="uname" property="uname" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="CHAR" />
	</resultMap>
	<insert id="zm_addUser">
		insert into user(uname,tel) values(#{uname},#{tel})
	</insert>
	<select id="zm_selUserByTel" resultType="int">
		select count(1) from
		user where tel = #{tel}
	</select>
	<select id="zm_login" resultType="user">
		select * from user where tel =
		#{tel}
	</select>
	<select id="zm_selUserByUid" resultType="user">
		select *
		from user
		where
		uid = #{uid}
	</select>
	<update id="zm_updUser">
		update user
		<set>
			<if test="uname != null">
				uname = #{uname},
			</if>
			<if test="tel != null">
				tel = #{tel},
			</if>
			<if test="img != null">
				img = #{img},
			</if>
		</set>
		where uid = #{uid}
	</update>
</mapper>