<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>即刻快递</title>
<link type="text/css" rel="stylesheet" media="all"
	href="../styles/global.css" />
<link type="text/css" rel="stylesheet" media="all"
	href="../styles/global_color.css" />
<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript">
	$(function() {
		$(".validate_msg_long").hide();
	})

	//保存成功的提示信息
	function showResult() {
		showResultDiv(true);
		window.setTimeout("showResultDiv(false);", 3000);
	}
	function showResultDiv(flag) {
		var divResult = document.getElementById("save_result_info");
		if (flag)
			divResult.style.display = "block";
		else
			divResult.style.display = "none";
	}

	//自动查询账务账号
	function searchAccounts(txtObj) {
		//document.getElementById("a1").innerHTML = txtObj.value;
	}

	function addEmpl() {
		var list = document.getElementsByTagName("input");
		for (var i = 0; i < list.length; i++) {
			// 判断是否为文本框
			if (list[i].type == "text") {
				// 判断文本框是否为空
				if (list[i].value == "") {
					alert("请将员工信息填写完整！");
					return false;
				}
			}
		}
		/* var name = $("#name").val();
		var Rname = /^[\u4e00-\u9fa5]{2,4}$/;
		if (!Rname.test(name)) {
			alert("真实姓名只能输入汉字2-4位");
			return false;
		} */

		var tel = $("#tel").val();
		var Rtel = /^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/;
		if (!Rtel.test(tel)) {
			alert("请输入联系手机（11位） ")
			return false;
		}

		var email = $("#email").val();
		var Remail = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
		if (!Remail.test(email)) {
			alert("请输入正确联系邮箱格式")
			return false;
		}

		var sal = $("#sal").val();
		var Rsal = /^\d+$/;
		if (!Rsal.test(sal)) {
			alert("工资需要为正整数")
			return false;
		}
	}
</script>
</head>
<body>
	<!--Logo区域开始-->
	<div id="header">
		<img src="../images/logo.png" alt="logo" class="left" /> <a
			href="/logout">[退出]</a>
	</div>
	<!--Logo区域结束-->
	<!--导航区域开始-->
	<div id="navi">
		<ul id="menu">
			<li><a href="/home.html" class="index_off"></a></li>
			<li><a href="/employee/zkSelEmployee"
				shiro:hasPermission="/employee/zkSelEmployee" class="role_on"></a></li>
			<li><a href="../admin/admin_list.html" class="admin_off"></a></li>
			<li><a href="../fee/fee_list.html" class="fee_off"></a></li>
			<li><a href="../account/account_list.html" class="account_off"></a></li>
			<li><a href="../service/service_list.html" class="service_off"></a></li>
			<li><a href="../bill/bill_list.html" class="bill_off"></a></li>
			<li><a href="../report/report_list.html" class="report_off"></a></li>
			<li><a href="/user/zkSelEmplByAccount" class="information_off"></a></li>
			<li><a href="/user/user_modi_pwd.html" class="password_off"></a></li>
		</ul>
	</div>
	<!--导航区域结束-->
	<!--主要区域开始-->
	<div id="main">
		<form action="/employee/zkUpdByKey" method="post" class="main_form"
			onsubmit="return addEmpl();">
			<!--内容项-->
			<div class="text_info clearfix">
				<span>真实姓名：</span>
			</div>
			<div class="input_info">
				<input type="hidden" name="eid" th:value="${employee.eid}" /> <input
					type="text" placeholder="张三" name="name"
					th:value="${employee.name}" id="name" />
			</div>
			<div class="text_info clearfix">
				<span>账号：</span>
			</div>
			<div class="input_info">
				<input type="text" placeholder="zhangsan" name="account"
					id="account" disabled="disabled" th:value="${employee.account}" />
			</div>
			<div class="text_info clearfix">
				<span>性别：</span>
			</div>
			<div class="input_info">
				<input type="text" name="sex" disabled="disabled"
					th:value="${employee.sex=='1'?'男':'女'}" />
			</div>
			<div class="text_info clearfix">
				<span>出身日期：</span>
			</div>
			<div class="input_info">
				<input type="text" placeholder="1999-09-09" name="birthday"
					th:value="${employee.birthday}" disabled="disabled" />
			</div>
			<div class="text_info clearfix">
				<span>身份证号：</span>
			</div>
			<div class="input_info">
				<input type="text" name="idcard" disabled="disabled"
					th:value="${employee.idcard}" />
			</div>
			<div class="text_info clearfix">
				<span>联系手机：</span>
			</div>
			<div class="input_info">
				<input type="text" name="tel" th:value="${employee.tel}" id="tel" />
			</div>
			<div class="text_info clearfix">
				<span>联系邮箱：</span>
			</div>
			<div class="input_info">
				<input type="text" placeholder="zhangsan@qq.com" name="email"
					id="email" th:value="${employee.email}">
			</div>
			<div class="text_info clearfix">
				<span>住址：</span>
			</div>
			<div class="input_info">
				<input type="text" name="address" th:value="${employee.address}" />
			</div>
			<div class="text_info clearfix">
				<span>工资：</span>
			</div>
			<div class="input_info">
				<input type="text" name="sal" th:value="${employee.sal}" id="sal" />
			</div>
			<div th:if="${employee.tid != 0}">
				<div class="text_info clearfix">
					<span>所属中转站：</span>
				</div>
				<div class="input_info">
					<select name="tid">
						<option th:each="list:${transferList}"
							th:value="${list.transferId}"
							th:selected="${list.transferId==employee.tid}">
							<span th:text="${list.transferName}" /></option>
					</select>
				</div>
			</div>
			<!--操作按钮-->
			<div class="button_info clearfix">
				<input type="submit" value="保存" class="btn_save" /> <input
					type="button" value="取消" onclick="history.back()" class="btn_save" />
			</div>
		</form>
	</div>
	<!--主要区域结束-->
	<div id="footer">
		<span>[源自北美的技术，最优秀的师资，最真实的企业环境，最适用的实战项目]</span> <br /> <span>版权所有(C)加拿大达内IT培训集团公司
		</span>
	</div>
</body>
</html>
