<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>即刻快递</title>
<link type="text/css" rel="stylesheet" media="all"
	href="../styles/global.css" />
<link type="text/css" rel="stylesheet" media="all"
	href="../styles/global_color.css" />
<!-- <link type="text/css" rel="stylesheet" media="all" href="../styles/bootstrap.min.css" /> -->
<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/layer.js"></script>
<script type="text/javascript" src="../js/layer.ext.js"></script>
<script language="javascript" type="text/javascript">
	function add_employee() {
		location = "/employee/zkSelTransfer";
	}

	function selPowerAll() {
		$
				.get(
						"/power/zkSelPower",
						null,
						function(data) {
							var powerList = data.powerList;
							var powers = "<tr class=\"title\" ><td>ID</td><td>资源名称</td><td>资源链接</td><td>操作</td></tr>";
							for (var i = 0; i < powerList.length; i++) {
								powers += "<tr class=\"rowAlternateA\" id=\"a"+powerList[i].pid+"\"><td>"
										+ powerList[i].pid
										+ "</td><td>"
										+ powerList[i].pname
										+ "</td><td>"
										+ powerList[i].url
										+ "</td><td><a href=\"#\" onclick=\"updPower("
										+ powerList[i].pid
										+ ")\">修改</a>/<a href=\"#\" onclick=\"delPower("
										+ powerList[i].pid
										+ ")\">删除</a></td></tr>";
							}
							$("#sys2 #datalist").html(powers);
						});
	}

	function updPower(pid) {
		layer.open({
			type : 2,
			title : '修改资源',
			maxmin : true,
			shadeClose : true, //点击遮罩关闭层
			area : [ '400px', '500px' ],
			content : '/role/updPower.html',
			success : function(layero, index) {
				var body = layer.getChildFrame('body', index);//建立父子联系
				var inputList = body.find('#pid');
				$(inputList).val(pid);
			},
			end : function() {
				selPowerAll();
			}
		});
	}
	
	function selRole() {
		$
				.get(
						"/role/zkSelRole",
						null,
						function(data) {
							var roleList = data.roles;
							var roles = "<tr class=\"title\" ><td>ID</td><td>角色名称</td><td>操作</td></tr>";
							for (var i = 0; i < roleList.length; i++) {
								roles += "<tr class=\"rowAlternateA\" id=\"a"+roleList[i].rid+"\"><td>"
										+ roleList[i].rid
										+ "</td><td>"
										+ roleList[i].rname
										+ "</td><td><a href=\"#\" onclick=\"updRole("
										+ roleList[i].rid
										+ ")\">修改</a>/<a href=\"#\" onclick=\"delRole("
										+ roleList[i].rid
										+ ")\">删除</a>/<a href=\"#\" onclick=\"selPower("
										+ roleList[i].rid
										+ ");\">分配权限</a></td></tr>";
							}
							$("#sys1 #datalist").html(roles);
						});
	}

	function updRole(rid) {
		layer.open({
			type : 2,
			title : '修改角色',
			maxmin : true,
			shadeClose : true, //点击遮罩关闭层
			area : [ '400px', '500px' ],
			content : '/role/updRole.html',
			success : function(layero, index) {
				var body = layer.getChildFrame('body', index);//建立父子联系
				var inputList = body.find('#rid');
				$(inputList).val(rid);
			},
			end : function() {
				selRole();
			}
		});
	}
	
	function delRole(rid) {
		$.get("/role/zkDelRole?rid=" + rid, null, function(data) {
			if (data == -1) {
				alert("此角色有对应的权限，不能删除")
			}else if(data == -2){
				alert("此角色下有员工，不能删除");
			} else if (data == 0) {
				alert("删除失败");
			} else {
				alert("删除成功");
				$("#a"+rid).remove();
			}
		});
	}
	
	function delPower(pid) {
		$.get("/power/zkDelPower?pid=" + pid, null, function(data) {
			if (data > 0) {
				alert("删除成功");
				$("#a"+pid).remove();
			} else {
				alert("删除失败");
			}
		});
	}

	function prohibitEmpl(eid, num) {
		location = "/employee/zkProhibitEmpl?eid=" + eid + "&num=" + num;
	}

	function selPower(rid) {
		layer.open({
			type : 2,
			title : '分配权限',
			maxmin : true,
			shadeClose : true, //点击遮罩关闭层
			area : [ '400px', '500px' ],
			content : '/role/rolePower.html',
			success : function(layero, index) {
				var body = layer.getChildFrame('body', index);//建立父子联系
				var inputList = body.find('#rid');
				$(inputList).val(rid);
			},
			end : function() {
				selRole();
			}
		});
		//location="/role/zkAssignPower?rid="+rid;
	}

	function addRole() {
		layer.open({
			type : 2,
			title : '添加角色',
			maxmin : true,
			shadeClose : true, //点击遮罩关闭层
			area : [ '400px', '300x' ],
			content : '/role/addRole.html',
			end : function() {
				selRole();
			}
		});
	}
	
	function addPower(){
		layer.open({
			type : 2,
			title : '添加资源',
			maxmin : true,
			shadeClose : true, //点击遮罩关闭层
			area : [ '400px', '300x' ],
			content : '/role/addPower.html',
			end : function() {
				selPowerAll()
			}
		});
	}

	function showRole(eid) {
		layer.open({
			type : 2,
			title : '分配角色',
			maxmin : true,
			shadeClose : true, //点击遮罩关闭层
			area : [ '400px', '500px' ],
			content : '/role/employeeRole.html',
			success : function(layero, index) {
				var body = layer.getChildFrame('body', index);//建立父子联系
				var inputList = body.find('#eid');
				$(inputList).val(eid);
			},
			end : function() {
				location.reload();
			}
		});
	}
	function changeTab(e, ulObj) {
		var obj = e.srcElement || e.target;
		if (obj.nodeName == "A") {
			var links = ulObj.getElementsByTagName("a");
			for (var i = 0; i < links.length; i++) {
				if (links[i].innerHTML == obj.innerHTML) {
					links[i].className = "tab_on";
					$(".tableall").css("display", "none")
					$("#sys" + i).css("display", "block")
				} else {
					links[i].className = "tab_out";
				}
			}
		}
	}
</script>
</head>
<body>
	<!--Logo区域开始-->
	<div id="header">
		<!-- <img src="../images/logo.png" alt="logo" class="left" />  -->
		<a href="/logout">[退出]</a>
	</div>
	<!--Logo区域结束-->
	<!--导航区域开始-->
	<div id="navi">
		<ul id="menu">
			<li><a href="/home.html" class="index_off"></a></li>
			<li><a href="/employee/zkSelEmployee" class="role_on"></a></li>
			<li><a href="../admin/admin_list.html" class="admin_off"></a></li>
			<li><a href="../fee/fee_list.html" class="fee_off"></a></li>
			<li><a href="../account/account_list.html" class="account_off"></a></li>
			<li><a href="../service/service_list.html" class="service_off"></a></li>
			<li><a href="../bill/bill_list.html" class="bill_off"></a></li>
			<li><a href="../report/report_list.html" class="report_off"></a></li>
			<li><a href="../user/user_info.html" class="information_off"></a></li>
			<li><a href="../user/user_modi_pwd.html" class="password_off"></a></li>
		</ul>
	</div>
	<!--导航区域结束-->
	<!--主要区域开始-->
	<div id="report_main">
		<div class="tabs">
			<ul onclick="changeTab(event,this);">
				<li><a href="#####" class="tab_on" title="用户管理">用户管理</a></li>
				<li><a href="#####" class="tab_out" title="角色管理"
					onclick="selRole();">角色管理</a></li>
				<li><a href="#####" class="tab_out" title="资源管理"
					onclick="selPowerAll();">资源管理</a></li>
			</ul>
		</div>
		<div class="report_box">
			<!--数据区域：用表格展示数据-->
			<div id="report_data">
				<div id="sys0" class="tableall">
					<form action="/employee/zkSelEmployee">
						<label>编号:</label> <input type="text" name="eid" placeholder="编号"
							th:value="${eid}" /> <label>名称:</label> <input type="text"
							name="name" placeholder="名称" th:value="${name}" /> <label
							class="control-label">状态:</label> <select name="enable">
							<option value="">全部</option>
							<option value="1" th:selected="${enable=='1'}">开启</option>
							<option value="0" th:selected="${enable=='0'}">禁用</option>
						</select>
						<button type="submit" onclick="search();">查询</button>
						<button type="button" onclick="add_employee();">新增</button>
					</form>
					<table id="datalist">
						<tr class="title">
							<!-- <td><input type="checkbox" class="checkall" /></td> -->
							<td>ID</td>
							<td>真实姓名</td>
							<td>账号</td>
							<td>性别</td>
							<td>出身日期</td>
							<td>身份证号</td>
							<td>联系手机</td>
							<td>联系邮箱</td>
							<td>住址</td>
							<td>工资</td>
							<td>所属中转站</td>
							<td>创建时间</td>
							<td>创建人</td>
							<td>是否启用</td>
							<td>操作</td>
						</tr>
						<tr class="rowAlternateA" th:each="list:${employeeList}">
							<!-- <td><input type="checkbox" class="checkall" /></td> -->
							<td th:text="${list.eid}" />
							<td th:text="${list.name}" />
							<td th:text="${list.account}" />
							<td th:text="${list.sex=='1'?'男':'女'}" />
							<td th:text="${list.birthday}" />
							<td th:text="${list.idcard}" />
							<td th:text="${list.tel}" />
							<td th:text="${list.email}" />
							<td th:text="${list.address}" />
							<td th:text="${list.sal}" />
							<td th:text="${list.transfer.transferName}" />
							<td th:text="${list.createtime}" />
							<td th:text="${list.name2}" />
							<td th:text="${list.enable=='0'?'禁用':'启用'}" />
							<td th:if="${list.enable=='1'}"><span
								th:onclick="'javascript:prohibitEmpl('+${list.eid}+','+${num}+')'">禁用</span>
								<a th:href="@{/employee/zkSelectByKey?(eid=${list.eid})}">
									修改</a>/<a href="#"
								th:onclick="'javascript:showRole('+${list.eid}+')'">分配角色</a></td>
						</tr>
					</table>
					<div id="pages">
						<table class="pagination" cellspacing="0" cellpadding="4"
							width="77%" align="center">
							<tr>
								<td width="15%" nowrap="nowrap">共<span th:text="${page}" />页,<span
									th:text=${count} />条记录
								</td>
								<td width="42%">&nbsp;</td>
								<td width="43%" align="right" nowrap="nowrap"><a
									th:href="@{/employee/zkSelEmployee?(eid=${eid},name=${name},enable=${enable},num=1)}">首页</a>
									<a
									th:href="@{/employee/zkSelEmployee?(eid=${eid},name=${name},enable=${enable},num=${num-1})}"
									th:if="!${num eq 1}">上一页</a> <a
									th:href="@{/employee/zkSelEmployee?(eid=${eid},name=${name},enable=${enable},num=${num+1})}"
									th:if="!${num eq page}">下一页</a> <a
									th:href="@{/employee/zkSelEmployee?(eid=${eid},name=${name},enable=${enable},num=${page})}">尾页</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div id="sys1" class="tableall" style="display: none;">
					<h2 onclick="addRole();">新增</h2>
					<table id="datalist">

					</table>
				</div>
				<div id="sys2" class="tableall" style="display: none;">
					<h2 onclick="addPower();">新增</h2>
					<table id="datalist">

					</table>
				</div>
			</div>
		</div>
	</div>
	<!--主要区域结束-->
	<div id="footer">
		<p>[源自北美的技术，最优秀的师资，最真实的企业环境，最适用的实战项目]</p>
		<p>版权所有(C)加拿大达内IT培训集团公司</p>
	</div>
</body>
</html>
