/* 基本样式 */
* {
	margin: 0px;/*控件的外边距设置*/
	padding: 0px;/*控件内边距设置*/
}

 body {   
 	background: #F3F6F9;
/*	background:url(../images/main_06.gif); /*背景颜色*/
/*	margin: 15; /*四个边的外延边距*/
}

body,table,th,td,input,select,textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* 超链接 */
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

/*点击超链接后样式*/
a:link,a:visited {
	color: #0044DD;
	text-decoration: none;
}

/*鼠标停在超链接上和点击超链接的样式*/
a:hover,a:active {
	color: #FF5500;
	text-decoration: underline;
}

/* 表格:查询选项 */
table.search{
	border: 1px solid #3366CC;
	background-color:#deebf7;

}
/* 表格:显示列表数据 */
table.default {
	border: 1px solid #3366CC;
	border-collapse: collapse; 
}


/* 表格:链接操作*/
table.link
{
	border:0px;
	border-collapse:collapse;
	background-color:#FFFFFF;
}
/* 表格分页 */
table.pagination{
	border:0px;
}

/*表头*/
tr.title td{
	font-weight: bold;
	
	background: #deebf7;
	color: black; /*字体颜色*/
	border: 1px ;
	height: 25px;
	border-bottom:#3366CC 1px solid;
}

/*奇数行*/
tr.rowAlternateA  td {
	background-color:#FFFFFF;
	height: 25px;
}
/*偶数行*/
tr.rowAlternateB td {
	background-color:#F2F8FF;
	height: 25px;
}

td.item {
	width: 30%
	font-weight: bold;
	text-align: right; /*水平对齐方式*/
	vertical-align: center; /*垂直对齐方式*/
	padding-top: 4px;
}

td.itemvalue {
	width: 70%
}

/* 按钮 */
.btn {
	background: url("../images/btn_bg.gif");
	background-repeat: repeat-x;
	border: 3px double #333333;
	border-color: #909090;
	color: #333333;
	padding: 0 2;
	font-size: 12px;
	height: 23px;
	cursor: hand;
	margin: 3px;
}

.tableheader {
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 4px;
    COLOR: #333333;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #6E95A8 1px solid;
    BACKGROUND-COLOR: #CADDE1;
    TEXT-ALIGN: left
}
/* logo */
body.logo{
	margin: 0px 0px;
	padding: 0px 0px;
}

table.logo{
	height: 80px;
	width: 100%;
	border: 0px;
	border-collapse: collapse;
}

td.logo{
	background-image: url('../images/bg.gif');
	text-align:center;
	color: #f0b0dd;
	font-family: 华文彩云,楷体_GB2312,黑体, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-indent: 30pt;
}
/* 菜单页面的样式 */
table.menu {
	width: 100%;
	border: 0px solid #999999;
	border-collapse: collapse; 
	background-color: #ffffff;
}

table.menu td {
	height: 20px;
	border: 0px solid #ffffff;
	background-color: #ffffff;
}

td.menu_title {
	text-indent: 3pt;
	color: #aaddcc;
	font-size: 13px;
	font-family:"宋体";
}

td.menu_item {
	text-indent: 13pt;

}
/* 版权页面的样式 */
body.copy_right{
	background-color: #F4F4F4; 
	margin: 3px auto;
	padding: 3px auto;
}

p.copy_right {
	font-size: 10px; 
	color: #666666; 
	background-color: #F4F4F4; 
	line-height: 5px;
	text-align: center;
	font-family:"宋体";
}

/* 按钮 */
.button { 
	font-size: 12px; 
	color: #000000; 
	cursor: hand; 
	height: 20px; 
	vertical-align: text-bottom;
	background-color: #FFFFFF; 
	background-image: url('../images/map_in.gif');
	border: 1px solid #000000 
	
}

